.invalid-feedback {
    display: block;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */

    opacity: 0.5;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    opacity: 0.5;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    opacity: 0.5;
}

body {
    background-color: #F5F5F5;
    background-image: url("../images/home-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.bg-light {
    background-color: #0b1135 !important;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #F27281;
    font-weight: bold;
}

.btn-primary,
.btn-secondary {
    color: #fff;
    background-color: #0b1135;
    border-color: #fff;
    border-radius: 20px;
    padding: 5px 40px;
}

.btn-secondary {
    background-color: #F27281;
}

.btn-primary:hover,
.btn-secondary:hover {
    color: #0b1135;
    background-color: #fff;
}

.form-signin,
.form-register {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    margin: auto;
    background-color: #ffffff;

}

.form-signin {
    margin-top: 3rem;
}

.form-register {
    width: 800px;
    max-width: 50%;
}

a {
    color: #0b1135;
}

.dropdown-menu[data-bs-popper] {
    right: 0;
    left: auto;
}

.dashboard {
    padding: 30px;
    background: #ffffff;
}

.product-list {
    width: 33.33%;
    max-width: 33.33%;
}

.price {
    color: #F27281;
}

.card-img-top {
    height: auto;
    width: fit-content;
    margin: 0 auto;
    max-width: 90%;
    max-height: 200px;
}

textarea {
    min-height: 200px !important;
}